.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: -30px;

}

.nav-button {
  background-color: transparent;
  color: white;
  border: 1px solid #888;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s;
}

.nav-button:hover:not(.disabled) {
  background-color: #444;
}

.nav-button.disabled {
  //background-color: #888;
  cursor: not-allowed;
  opacity: 0.5;
}

.page-number {
  font-size: 18px;
  color: white;
  font-weight: bold;
  min-width: 30px;
  text-align: center;
}
